<div class="footer">
    <div class="socials">
        <i class="fa-brands fa-square-facebook social-icons"></i>
        <i class="fa-brands fa-square-instagram social-icons"></i>
        <i class="fa-brands fa-square-linkedin social-icons"></i>
    </div>
    <p class="tag">WanderLust Private Limited</p>
    <div class="links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>