<nav class="navbar navbar-expand-md fix_nav border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link nav-item-enhanced" aria-current="page" href="/listings"><i class="fa-solid fa-home"></i> Home</a>
        <a class="nav-link nav-item-enhanced" href="/listings"><i class="fa-solid fa-list"></i> All Listing</a>
        <a class="nav-link nav-item-enhanced nav-item-create" href="/listings/new_listing"><i class="fa-solid fa-plus-circle"></i> Add New Listing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary dropdown-toggle account-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/user/sign-up">Sign Up</a></li>
            <li><a class="dropdown-item" href="/user/login">Login</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
