<%- layout("/layouts/boilerplate.ejs") -%>
<h1>All Listings</h1>
<form action="http://localhost:3000/listings/new_listing" method="get">
    <button>Create New Post</button>
</form>
<ul>
    <%for(let ele of data){%>
    <li><a href="http://localhost:3000/listings/<%=ele._id %>"><%= ele.title  %> </a></li>
<%}%>
</ul>