<%- layout("/layouts/boilerplate.ejs") %>
<div class="row justify-content-center">
  <div class="col-6">
    <h1 class="auth-heading">Login On Wanderlust</h1>
    
    <form
      action="/user/login"
      method="post"
      novalidate
      class="needs-validation auth-container"
    >
      <div class="mt-3">
        <label for="_username" class="form-label"><b>Username</b></label>
        <input
          type="text"
          name="username"
          placeholder="Enter Username"
          class="form-control auth-input" 
          id="_username"
          required
        />
        <div class="invalid-feedback">Enter a valid Username</div>
        <div class="valid-feedback">Nice Username</div>
      </div>

      <div class="mt-3">
        <label for="_password" class="form-label"><b>Password</b></label>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          class="form-control auth-input"
          id="_password"
          required
        />
        <div class="invalid-feedback">Enter a valid Password</div>
        <div class="valid-feedback">Nice Password</div>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary log-in-button">Login</button>
      </div>
    </form>
  </div>
</div>